﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title"><i class="fa fa-clock-o"></i> BruinClock</span></a>
        <!--<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>-->
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <!--<ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Created by John Papa
                    </a>
                </li>
                <li>
                    <a href="http://www.breezejs.com" target="_blank">
                        <img src="../../Content/images/breezelogo.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="../../Content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</nav>