﻿

/* toastr customizations*/
#toast-container > div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    margin-bottom: 10px;
}

#toast-container.toast-top-center > div {
    margin: 10px auto;
}


/* Shell customizations */

.sidebar, .sidebar-filler, .sidebar .sidebar-inner {
    background: #eee;
}

    .sidebar .navi > li > a {
        background-color: #eee !important;
        color: #444;
        border-bottom: 1px solid #bbb;
    }

        .sidebar .navi > li > a:hover {
            border-bottom: 1px solid #bbb;
        }

    .sidebar .sidebar-dropdown a {
        color: #444;
        background-color: #eee;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }

.navbar {
    background-color: #3284bf;
}

.navbar-inverse .navbar-toggle, .navbar-inverse {
    border: none;
}

.navbar .navbar-brand {
    background: none !important;
    margin: 0;
}

.sidebar .navi > li.nlightblue > a:hover, .sidebar .navi > li.current.nlightblue > a {
    color: #fff;
    font-weight: 600;
    background: #3284bf !important;
}

/* Theme override */

body {
    font-size: 14px;
    color: #444;
}

.bold {
    font-weight: 700;
}

.widget-border-top {
    border-top: 1px solid #ddd;
}

.btn {
    border-radius: 3px !important;
}

/* Utility */

.m-t {
    margin-top: 15px;
}

.m-b {
    margin-bottom: 15px;
}
